---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

import Tags from "@components/misc/Tags.astro";

import H1 from "@components/mdx/H1.astro";
import H2 from "@components/mdx/H2.astro";
import H3 from "@components/mdx/H3.astro";
import { getMetaUrl } from "@lib/utils";
import Code from "@components/mdx/Code.astro";
import TableOfContents from "@components/layout/TableOfContents.astro";
import H4 from "@components/mdx/H4.astro";

export async function getStaticPaths() {
	const notes = await getCollection("notes");
	return notes.map((note) => ({
		params: { slug: note.slug },
		props: { note },
	}));
}

let { note } = Astro.props;

if (!note) {
	return new Response(null, {
		status: 404,
		statusText: "Not Found",
	});
}

let {
	data: { title, description: desc, tags, keywords, date },
} = note;
const { Content, headings } = await note.render();

const metaUrl = getMetaUrl(title, date);
---

<style>
  [data-icon] {
    display: inline-block;
  }

  .container {
    margin-left: 0;
    margin-right: 0;
  }
</style>

<Layout {title} {desc} metaImage={metaUrl} {keywords} {tags} pubDate={date}>
  <div class="w-fit max-w-full flex items-start gap-2 mt-6 mx-auto">
    <main class="container">
      <h1 class="text-3xl md:text-4xl font-bold !leading-normal !md:leading-tight tracking-normal">{title}</h1>
      <div class="my-3.5"><Tags data={tags || []} /></div>

      <p>Published on <b>{date.toLocaleString("en-US", { dateStyle: "long" })}</b></p>

      {headings.length > 0 ? <TableOfContents {headings} /> : null}

      <article class="blog-content">
        <Content components={{ h1: H1, h2: H2, h3: H3, h4: H4, pre: Code }} />
      </article>

      <p class="mt-8">
        <Icon name="octicon:mark-github-16" /> Edit this note on <a href={"https://github.com/aosasona/trulyao.dev/tree/master/src/content/notes/" + note.id} target="_blank">
          Github
        </a>
      </p>
    </main>

    {headings.length > 0 ? <TableOfContents {headings} asSidebar /> : null}
  </div>
</Layout>
