---
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

import Tags from "@components/misc/Tags.astro";
import SiteHeader from "@components/layout/SiteHeader.astro";

import H1 from "@components/mdx/H1.astro";
import H2 from "@components/mdx/H2.astro";
import CodeSnippet from "@components/mdx/CodeSnippet.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({ params: { slug: post.slug }, props: { post } }));
}

let { post } = Astro.props;

if (!post) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

let {
  data: { title, description: desc, tags, keywords, date },
  slug,
} = post;
const { Content, headings } = await post.render();

// TODO: REMOVE
console.log(headings);

const formattedDAte = new Date(date).toLocaleString("en-US", { dateStyle: "long" });
const metaRawUrl = new URL("https://og.wyte.space/api/v1/images/trulyao/preview");
metaRawUrl.searchParams.append("variant", "blog");
metaRawUrl.searchParams.append("style", "blog");
metaRawUrl.searchParams.append("size", "medium");
metaRawUrl.searchParams.append("vars", `title:${title},date:${formattedDAte}`);

const metaUrl = metaRawUrl.href;
---

<style>
  [data-icon] {
    display: inline-block;
  }
</style>

<Layout {title} {desc} metaImage={metaUrl} {keywords}>
  <main class="container mt-6">
    <SiteHeader />

    <h1 class="text-4xl md:text-5xl font-bold">{title}</h1>
    <div class="my-3.5">
      <Tags data={tags || []} />
    </div>
    <p>Published on <u class="underline-offset-4">{date.toLocaleString("en-US", { dateStyle: "long" })}</u></p>

    <article class="blog-content">
      <Content components={{ h1: H1, h2: H2 }} />
    </article>

    <p class="mt-4">
      <Icon name="octicon:mark-github-16" /> Edit this page on <a href={"https://github.com/aosasona/trulyao.dev/tree/master/src/content/blog/" + slug + ".md"} target="_blank">
        Github
      </a>
    </p>

    <!-- prettier-ignore -->
    <p class="mt-6 text-sm leading-loose bg-secondary-dark text-primary-text-dark dark:bg-primary-100 dark:text-secondary-900 px-6 py-4">
      <b>Disclaimer</b>: This article represents my own opinions and experiences at the time of writing this articles. These opinions may change over time and my experiences could be different from yours, if you find anything that is objectively incorrect or that you need to discuss further, please contact me via any of the links in the header section of this website.
    </p>
  </main>
</Layout>
