---
import { Icon} from "astro-icon/components"
import { getCollection} from "astro:content";
import Layout from "../../layouts/Layout.astro"
import Tags from "../../components/Tags.astro"
import "../../styles/global.css";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({ params: { slug: post.slug }, props: { post } }));
}

let { post } = Astro.props;

if (!post) {
	return new Response(null, {
		status: 404,
		statusText: "Not Found",
	})
}

let {
	data: { title, description: desc, tags, keywords, date},
	slug
} = post;
const { Content } = await post.render();

const formattedDAte = new Date(date).toLocaleString("en-US", { dateStyle: "long" });
const metaRawUrl = new URL("https://og.wyte.space/api/v1/images/trulyao/preview");
metaRawUrl.searchParams.append("variant", "blog");
metaRawUrl.searchParams.append("style", "blog");
metaRawUrl.searchParams.append("size", "medium");
metaRawUrl.searchParams.append("vars", `title:${title},date:${formattedDAte}`);

const metaUrl = metaRawUrl.href;
---

<style>
	[data-icon] {
		display: inline-block;
	}
</style>


<Layout title={title} desc={desc} metaImage={metaUrl} keywords={keywords}>
	<main class="container mt-6">
		<h1 class="text-4xl md:text-5xl font-bold">{title}</h1>
		<div class="mt-3">
		 	<Tags data={tags || []} />
		</div>
		<p class="mt-2">Published on <u class="underline-offset-4">{date.toLocaleString("en-US", { dateStyle: "long"})}</u></p>

		<article class="blog-content">
			<Content />
		</article>


		<p class="mt-4"><Icon name="octicon:mark-github-16" /> Edit this page on <a href={"https://github.com/aosasona/trulyao.dev/tree/master/src/content/blog/" + slug + ".md"} target="_blank"> Github</a></p>
	</main>
</Layout>
