---
import { getCollection} from "astro:content";
import Back from "../../components/Back.astro";
import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";
import "../../styles/global.css";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({ params: { slug: post.slug }, props: { post } }));
}

let { post } = Astro.props;

if (!post) {
	return new Response(null, {
		status: 404,
		statusText: "Not Found",
	})
}

let {
	data: { title, description: desc, keywords, date },
} = post;
const { Content } = await post.render();

if (!title) title = "Ayodeji";
if (!desc) desc = "A portal into my thoughts, thoughts, experiences, ideas, visions, and more. What's the point of this? Well, I'm not sure, but here you go anyhow.";
if (!keywords) keywords = "ayodeji, osasona, trulyao, ayo, developer, engineer, php, python, java, c++, node, typescript";

const formattedDAte = new Date(date).toLocaleString("en-US", { dateStyle: "long" });
const metaRawUrl = new URL("https://og.wyte.space/api/v1/images/trulyao/preview");
metaRawUrl.searchParams.append("variant", "blog");
metaRawUrl.searchParams.append("style", "blog");
metaRawUrl.searchParams.append("size", "medium");
metaRawUrl.searchParams.append("vars", `title:${title},date:${formattedDAte}`);

const metaUrl = metaRawUrl.href;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#0a0a0a" />
		<meta name="description" content={desc} />
		<meta name="keywords" content={keywords} />
		<meta name="author" content="Ayodeji O." />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta name="google" content="notranslate" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.trulyao.dev" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:image" content={metaUrl} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://www.trulyao.dev" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={desc} />
		<meta property="twitter:image" content={metaUrl} />

		<meta property="og:site_name" content="Trulyao" />
		<meta property="og:site" content="Trulyao" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:image" content={metaUrl} />
		<meta property="og:url" content="https://www.trulyao.dev" />

		<link rel="icon" type="image/x-icon" href="favicon.ico" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
			integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
			crossorigin="anonymous"
		/>

		<title>{title}</title>
	</head>
	<body class="antialiased">
		<Nav />
		<main class="blog-content">
			<Back url="/blog" />
			<div class="my-6">
				<h1 class="!text-5xl !font-medium font-souvenir !mb-4">{title}</h1>
				<h6 class="text-xs lg:text-sm text-neutral-500 mt-3">{date.toLocaleString("en-US", { dateStyle: "long" })}</h6>
			</div>
			<Content />
		</main>
		<Footer />
	</body>
</html>
