---
import { Icon } from "astro-icon/components";
import Show from "@components/misc/Show.astro";
import Tags from "@components/misc/Tags.astro";
import type { CollectionEntry } from "astro:content";

type Project = CollectionEntry<"projects">["data"][number];

export interface Props {
	project: Project;
}

const { project } = Astro.props;
---

<style>
  a,
  [data-icon] {
    display: inline-block;
  }
</style>

<div>
  <div class="relative w-full aspect-video object-cover rounded-sm mb-4 sm:hidden overflow-hidden">
    <Show when={project.status != "active"}>
      <div class="text-xs absolute bottom-1 right-1 bg-[var(--background-color)] border-none text-[var(--foreground-color)] px-1.5 py-0.5 rounded-sm">
        {project.status}
      </div>
    </Show>
    <img src={`/images/projects/${project.image}`} alt={project.name} class="w-full h-full" />
  </div>

  <div class="flex flex-col">
    <h2 class="text-primary-text-light dark:text-primary-text-dark font-bold text-xl mb-0">
      {project.name}
      {project.status != "active" ? <sup class="hidden sm:inline-block text-sm font-light opacity-60">({project.status})</sup> : null}
    </h2>
    <p class="leading-normal text-primary-text-light/60 dark:text-primary-text-dark/60 mt-1">{project.description}</p>

    <div class="w-full flex justify-between items-center mt-3">
      <Tags data={(project?.tags || []) as string[]} />

      <div class="text-xl space-x-2.5">
        <Show when={!!project.website_url}>
          <a href={project.website_url ?? ""} target="_blank" title="Visit website"><Icon name="tabler:external-link" /></a>
        </Show>

        <Show when={!!project.github_url}>
          <a href={project.github_url ?? ""} target="_blank" title="View on Github"><Icon name="tabler:brand-github" /></a>
        </Show>
      </div>
    </div>
  </div>
</div>
