---
import Header from "../components/Header.astro";
import SectionHeader from "../components/SectionHeader.astro";
import ToolCard from "../components/ToolCard.astro";
import projects from "../data/projects.json";

import Layout from "../layouts/Layout.astro";

interface Project {
	name: string;
	description: string;
	url: string | null;
	github_url: string | null;
	image: string;
	status: string | null;
}
---

<Layout title="Ayodeji" hideFooter={false}>
	<main>
		<Header />

		<h1 class="text-3xl lg:text-3xl font-bold font-souvenir mb-4 mt-6">Hi, I'm Ayodeji &#128075;</h1>

		<p id="about">
			I'm a <span class="highlight">Software Engineering</span> student somewhere in England and a software developer. I enjoy <span class="highlight">building</span> things
			that run on computers and exploring a lot (or a bit) of other tools, languages etc while doing that.
			<br />
			I also do enjoy <span class="highlight">experimenting</span> a lot (unfortunately, a lot of these stay private on my Github profile) and I would gladly stay up all night
			learning how to write the best software I possibly can and how to make it run even better; "good" isn't enough.
		</p>

		<section id="tools">
			<SectionHeader>Tools</SectionHeader>
			<p>
				My primary stack includes Go, PHP & Typescript (Node; React, Next.js, Fastify etc, and more recently looking into Bun). I have listed some of the languages/tools
				I have used or still use below (not *really* including frameworks).
			</p>
			<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-5 mt-5">
				<ToolCard name="React" />
				<ToolCard name="TailwindCSS" />
				<ToolCard name="Typescript" />
				<ToolCard name="Node.js" />
				<ToolCard name="PHP" />
				<ToolCard name="Go" />
				<ToolCard name="MySQL" />
				<ToolCard name="PostgreSQL" />
				<ToolCard name="MongoDB" />
				<ToolCard name="Redis" />
				<ToolCard name="Git" />
				<ToolCard name="Linux" />
				<ToolCard name="Docker" />
				<ToolCard name="NeoVim" />
			</div>

			<div class="border border-neutral-500 rounded-xl p-4 mt-5">
				<p>-&gt; Other things I am currently learning, intend to take a deeper dive into or get started with at some point in the future</p>
				<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-5 mt-5">
					<ToolCard name="Elixir" />
					<ToolCard name="Rust" />
					<ToolCard name="Swift" />
					<ToolCard name="SurrealDB" />
				</div>
			</div>
		</section>

		<section id="projects">
			<SectionHeader>Projects</SectionHeader>
			<p>
				During my free time, I like to build things that I find interesting and/or would use; sometimes to learn more about something or just to fix a problem that's
				particularly frustrated me enough at that point in time. Here are a couple of them, you can find other random things I build on my GitHub page.
			</p>

			<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-8 mt-5">
				{
					(projects as Project[]).map((project) => (
						<div class="flex flex-col gap-1.5">
							<div class="relative w-full border border-neutral-900 aspect-[1.5] overflow-hidden rounded-lg cursor-pointer">
								<img src={`/projects/${project.image}`} class="w-full h-full hover:scale-125 object-cover object-center transition-all" />
							</div>
							<h3 class="text-lg font-bold mt-1 leading-none">{project.name}</h3>
							<p class="text-sm">{project.description}</p>
							<div class="flex items-center justify-between mt-auto">
								{project.status && <div class="w-max bg-neutral-900 text-neutral-500 text-[10px] font-medium px-2.5 py-1 rounded drop-shadow-md">{project.status}</div>}
								<a href={"https://www." + (project.url ? project.url : project.github_url)} target="_blank" class="block w-max text-xs font-medium">
									Visit website
								</a>
							</div>
						</div>
					))
				}
			</div>
		</section>
	</main>
</Layout>
