---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

const currentYear = new Date().getFullYear();
let currentTime = new Date().toDateString();
---

<Layout title="Ayodeji">
  <main
    class="h-screen max-h-screen flex flex-col justify-between pt-6 pb-10 px-8"
  >
    <p
      class="fixed top-0 right-0 space-grotesk bg-amber-500 text-amber-500 bg-opacity-40 text-xs px-4 py-2"
    >
      Work in progress
    </p>
    <section>
      <h1 class="text-4xl">Ayodeji.</h1>
      <hr class="my-5" />
      <h4 class="text-sm text-right font-semibold opacity-20 -mt-1">
        Software
        <br />
        developer
      </h4>
    </section>
    <footer class="flex justify-between">
      <section class="flex flex-col gap-3">
        <Link href="/about" newTab={false}>About</Link>
        <Link href="/projects" newTab={false}>Projects</Link>
        <Link href="/blog" newTab={false}>Blog</Link>
        <Link href="/links" newTab={false}>Links</Link>
      </section>
      <section class="flex flex-col self-end items-end gap-3">
        <a
          href="mailto:ayodeji@trulyao.dev?subject=Hello%20Ayodeji&body=Hi%20Ayodeji%2C%0A%0AI%20am%20..."
          class="w-max text-xs font-normal border border-white rounded-full hover:px-10 px-6 py-3 transition-all cursor-pointer"
        >
          Say Hi &#128075;
        </a>
        <p class="text-xs font-semibold opacity-20">
          &copy; {currentYear} Ayodeji
        </p>
      </section>
    </footer>
  </main>
</Layout>
