---
import Header from "../components/Header.astro";
import SectionHeader from "../components/SectionHeader.astro";
import ToolCard from "../components/ToolCard.astro";
import projects from "../data/projects.json";

import Layout from "../layouts/Layout.astro";

interface Project {
	name: string;
	description: string;
	url: string | null;
	github_url: string | null;
	image: string;
	status: string | null;
}
---

<Layout title="Ayodeji" hideFooter={false}>
	<main>
		<Header />

		<h1 class="text-3xl lg:text-3xl font-bold my-4">Hi, I'm Ayodeji &#128075;</h1>

		<p class="" id="about">
			I'm a <span class="highlight">Software Engineering</span> student somewhere in England and a software developer. I enjoy <span class="highlight">building</span> things that run on computers (for fun and/or to use) and exploring a lot (or a bit) of other tools, languages etc while doing that.
			<br />
			I listen to quite a couple of <span class="highlight">(seemingly random)</span> collection of songs that may seem chaotic to you but I like them anyway. I also enjoy watching sci-fi, supernatural, mythology, and detective series with a slightly higher interest in Star Trek, Star Wars and
			Sherlock Holmes adaptations.
		</p>

		<section>
			<SectionHeader>Recent playlist</SectionHeader>
			<iframe
				allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write"
				frameborder="0"
				height="450"
				style="width:100%;max-width:660px;overflow:hidden;background:transparent;margin-top:0.75rem;"
				sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
				src="https://embed.music.apple.com/gb/playlist/fresh-blood/pl.u-BNA6YANTeDm1kZ6"></iframe>
		</section>

		<section id="tools">
			<SectionHeader>Tools</SectionHeader>
			<p>I have used and still use a couple of tools and languages for my development process. I have listed a few of them below (not *really* including frameworks).</p>
			<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-6 gap-y-5 mt-5">
				<ToolCard name="React" />
				<ToolCard name="Astro" />
				<ToolCard name="TailwindCSS" />
				<ToolCard name="Typescript" />
				<ToolCard name="Node.js" />
				<ToolCard name="PHP" />
				<ToolCard name="Go" />
				<ToolCard name="Python" />
				<ToolCard name="MySQL" />
				<ToolCard name="PostgreSQL" />
				<ToolCard name="MongoDB" />
				<ToolCard name="Redis" />
				<ToolCard name="Git" />
				<ToolCard name="Linux" />
				<ToolCard name="Docker" />
				<ToolCard name="NeoVim" />
			</div>
		</section>

		<section id="projects">
			<SectionHeader>Projects</SectionHeader>
			<p>During my free time, I like to hack on things that I find interesting and/or would use. Here are a couple of them, you can find other random things I build on my GitHub page.</p>

			<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-8 mt-5">
				{
					(projects as Project[]).map((project) => (
						<div class="flex flex-col gap-2">
							<div class="relative w-full border border-neutral-900 aspect-[1.6] overflow-hidden rounded-lg cursor-pointer">
								<img src={`/projects/${project.image}`} class="w-full h-full hover:scale-125 object-cover object-left transition-all" />
							</div>
							<h3 class="text-base font-bold">{project.name}</h3>
							<p class="text-sm">{project.description}</p>
							<div class="flex items-center justify-between mt-auto">
								{project.status && <div class="w-max bg-neutral-900 text-neutral-500 text-[10px] font-medium px-2.5 py-1 rounded drop-shadow-md">{project.status}</div>}
								<a href={"https://www." + (project.url ? project.url : project.github_url)} target="_blank" class="block w-max text-xs font-medium">
									Visit website
								</a>
							</div>
						</div>
					))
				}
			</div>
		</section>
	</main>
</Layout>
