---
import MinimalFooter from "../components/MinimalFooter.astro";
import "../styles/global.css";
export interface Props {
	title: string;
	hideFooter?: boolean;
}

let { title, desc, hideFooter } = Astro.props;
if (!title) title = "Ayodeji";
if (!desc) desc = "Ayodeji - Software Developer";
let keywords = "ayodeji, osasona, trulyao, ayo, developer, engineer, php, python, java, c++, node, typescript";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#000000" />
		<meta name="description" content={desc} />
		<meta name="keywords" content={keywords} />
		<link rel="icon" type="image/x-icon" href="favicon.ico" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.trulyao.dev" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:image" content="/images/me.JPG" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="http://www.trulyao.dev" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={desc} />
		<meta property="twitter:image" content="/images/me.JPG" />

		<meta property="og:site_name" content="" />
		<meta property="og:site" content="" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:image" content="/images/me.JPG" />
		<meta property="og:url" content="http://www.trulyao.dev" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<title>{title}</title>
	</head>
	<body class="antialiased">
		<nav class="w-screen fixed top-0 left-0 bg-dark bg-opacity-30 backdrop-blur-md border-b border-b-neutral-900 flex items-center justify-center gap-4 py-2 px-4">
			<a href="https://github.com/aosasona" target="_blank" class="text-lg font-medium"><i class="fa-brands fa-github"></i></a>
			<a href="https://twitter.com/trulyao" target="_blank" class="text-lg font-medium"><i class="fa-brands fa-twitter"></i></a>
			<a href="mailto:ayodeji@trulyao.dev" class="text-lg font-medium"><i class="fa-solid fa-envelope"></i></a>
		</nav>
		<slot />
		{!hideFooter && <MinimalFooter />}
	</body>
</html>
