---
import "../styles/global.css";
import NavBar from "@components/layout/NavBar.astro";
import Footer from "@components/layout/Footer.astro";

export interface Props {
  title: string;
  desc?: string;
  keywords?: string;
  metaImage?: string;
}

let { title, desc, metaImage, keywords } = Astro.props;
if (!title) title = "Ayodeji";
if (!desc) desc = "Learning, exploring and making software I'd use.";
if (!metaImage) metaImage = "/images/meta.jpg";
if (!keywords) keywords = "ayodeji, aosasona, trulyao, osasona, go, typescript, javascript, rust, gleam, software, engineer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fdf9ef" />
    <meta name="description" content={desc} />
    <meta name="keywords" content={keywords} />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Ayodeji" />
    <meta property="og:site" content="https://trulyao.dev" />
    <meta property="og:url" content="https://trulyao.dev" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content={metaImage} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://trulyao.dev" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={desc} />
    <meta property="twitter:image" content={metaImage} />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Iosevka/6.0.0/iosevka/iosevka.min.css"
      integrity="sha512-3hU20586NsplKRzjf2jQN5vTRTI2EsXObrHDOBLGdkiRkneg699BlmBXWGHHFHADCF3TOk2BREsVy7qTkmvQqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="/vendor/alpine-persist.js" defer is:inline></script>
    <script src="/vendor/alpine.js" defer is:inline></script>

    <script>
      const headers = document.querySelectorAll("[data-section-header]");
      if (headers?.length > 1) {
        headers.forEach((header) => {
          header?.addEventListener("click", () => {
            const slug = header.id;
            const url = window.location.protocol + "//" + window.location.host + window.location.pathname;
            const hash = `#${slug}`;
            const fullUrl = `${url}${hash}`;

            navigator.clipboard.writeText(fullUrl);
            window.location.hash = slug;
          });
        });
      }
    </script>

    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
