---
import "../styles/global.css";
export interface Props {
	title: string;
	desc?: string;
	hideFooter?: boolean;
}

let { title, desc } = Astro.props;
if (!title) title = "Ayodeji";
if (!desc) desc = "Learning, exploring and making software I'd use.";
let keywords = "ayodeji, aosasona, trulyao, osasona, go, typescript, javascript, rust, gleam, software, engineer";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#1b1a18" />
		<meta name="description" content={desc} />
		<meta name="keywords" content={keywords} />
		<link rel="icon" type="image/x-icon" href="favicon.ico" />

		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.trulyao.dev" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:image" content="/images/me.JPG" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://www.trulyao.dev" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={desc} />
		<meta property="twitter:image" content="/images/me.JPG" />

		<meta property="og:site_name" content="Trulyao" />
		<meta property="og:site" content="" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:image" content="/images/me.JPG" />
		<meta property="og:url" content="https://www.trulyao.dev" />

		<title>{title}</title>
	</head>
	<body class="antialiased">
		<slot />
	</body>
</html>
