---
import "../styles/global.css";
import NavBar from "@components/layout/NavBar.astro";
import Footer from "@components/layout/Footer.astro";

export interface Props {
	title: string;
	desc?: string;
	keywords?: string;
	metaImage?: string;
	pubDate?: Date;
	tags?: string[];
	isBlogPost?: boolean;
}

let {
	title,
	desc,
	metaImage,
	keywords,
	tags = [],
	pubDate = null,
	isBlogPost = false,
} = Astro.props;
if (!title) title = "Ayodeji";
if (!desc) desc = "Learning, exploring and making software I'd use.";
if (!metaImage) metaImage = "/images/meta.jpg";
if (!keywords)
	keywords =
		"ayodeji, aosasona, trulyao, osasona, go, typescript, javascript, rust, gleam, software, engineer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fdf9ef" />
    <meta name="description" content={desc} />
    <meta name="keywords" content={keywords} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Ayodeji" />
    <meta property="og:site" content="https://trulyao.dev" />
    <meta property="og:url" content="https://trulyao.dev" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:image" content={metaImage} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://trulyao.dev" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={desc} />
    <meta property="twitter:image" content={metaImage} />

    {isBlogPost ? (
      <meta name="author" content="Ayodeji O." />
      <meta name="article:author" content="Ayodeji O." />
    ): null}
    {!!pubDate ? <meta name="article:published_time" content={pubDate.toISOString()} /> : null}
    {tags?.map((tag) => <meta name="article:tag" content={tag} />)}

    <script src="/vendor/alpine-persist.js" defer is:inline></script>
    <script src="/vendor/alpine.js" defer is:inline></script>

    <script>
      const headers = document.querySelectorAll("[data-section-header]");
      if (headers?.length > 1) {
        headers.forEach((header) => {
          header?.addEventListener("click", () => {
            const slug = header.id;
            const url = window.location.protocol + "//" + window.location.host + window.location.pathname;
            const hash = `#${slug}`;
            const fullUrl = `${url}${hash}`;

            navigator.clipboard.writeText(fullUrl);
            window.location.hash = slug;
          });
        });
      }
    </script>

    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
